html,
body {
    width: 100%;
    height: 100%;
}

body {
    position: relative;
    overflow-y: auto;
    overflow-x: hidden;
    background-color: #fff;
    /*background: url(../img/bokeh-bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;*/
}

* {
    margin: 0;
    padding: 0;
    font-family: 'silka-regular', sans-serif
}

p {
    margin: 0;
    padding: 0
}

a {
    text-decoration: none!important
}

ul {
    list-style-type: none
}

@font-face {
    font-family: menlo;
    src: url(../fonts/Menlo-Regular.ttf)
}

@font-face {
    font-family: silka-extralightitalic;
    src: url(../fonts/Silka-ExtraLightItalic.otf)
}

@font-face {
    font-family: silka-light;
    src: url(../fonts/Silka-Light.otf)
}

@font-face {
    font-family: silka-regular;
    src: url(../fonts/Silka-Regular.otf)
}

@font-face {
    font-family: silka-semibolditalic;
    src: url(../fonts/Silka-SemiBoldItalic.otf)
}

@font-face {
    font-family: silka-bold;
    src: url(../fonts/Silka-Bold.otf)
}

@font-face {
    font-family: silka-bolditalic;
    src: url(../fonts/Silka-BoldItalic.otf)
}

nav {
    z-index: 4;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    position: fixed;
}

nav.myNavbar {
    padding: 0;
    padding-top: 35px;
    padding-bottom: 35px
}

nav .myNavbarList a {
    font-size: 16px;
    color: #33D08F!important;
    text-decoration: underline!important;
    font-family: menlo;
}

nav .myNavbarToggler,
nav .myNavbarToggler:focus {
    color: #422e2b!important;
    border: 0;
    outline: none
}

nav .myNavbarTogglerIcon {
    color: #422e2b;
    position: relative;
    top: -2px
}

nav .myNavbarBrand {
    font-size: 16px;
    color: #fff!important;
    font-family: silka-bold;
}

.myNavbarTogglerClose {
    display: none
}

.navbarOverlay {
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    position: fixed;
    background-color: #fff;
    z-index: 3;
    display: none
}

header.homepage {
    width: 100%;
    /*height: auto;*/    
    height: 100%;
    min-height: 600px;
    position: relative;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -ms-flex-align: center;
    -webkit-align-items: center;
    -webkit-box-align: center;
    align-items: center;
    /*margin: 100px 0;*/
    background-color: #986130;
}

header.homepage .left {
    position: relative;
    padding-top: 40px;
    padding-bottom: 40px;
    padding-right: 20px
}

/*header.homepage .rectangle {
    width: 125px;
    height: 125px;
    background-color: #33D08F
}*/

header.homepage .left .title {
    font-size: 72px;
    color: #090909;
    font-family: silka-bold;
    position: relative;
    top: 2px
}

header.homepage .left .article {
    color: #090909;
    font-family: silka-regular;
    position: relative;
    bottom: 2px
}

header.homepage .left .title,
header.homepage .left .article {
    position: relative;
    z-index: 2
}

.header {
    width: 100%;
    height: auto;
    padding-top: 100px;
    text-align: left
}

.header .title {
    font-size: 20px;
    font-family: silka-bold;
    color: #090909;
}

.header .leftBar {
    width: 32px;
    height: 4px;
    margin-top: 5px;
    background-color: #fff
}

.seeMyWork {
    width: 100%;
    height: 800px; 
    /*height: auto;*/
    padding: 0 0 200px;
}

.seeMyWork .seeMyWorkContent {
    padding: 0!important;
    margin: 0!important
}

.seeMyWork .seeMyWorkRow {
    height: auto;
    margin-top: 100px;
    padding: 0!important
}

.seeMyWork .seeMyWorkRow .left .leftList {
    color: #090909;
    font-family: silka-regular;
    font-size: 20px
}

.seeMyWork .seeMyWorkRow .left .leftTitle {
    color: #090909;
    font-family: silka-bold;
    margin: 25px 0 20px 0;
    font-size: 55px
}

/*.seeMyWork .seeMyWorkRow .left .leftButton {
    width: 100%;
    max-width: 375px;
    height: 63px;
    margin-top: 40px;
    background-color: #780000
}*/

.seeMyWork .seeMyWorkRow .left .leftButton p {
    margin: 30px 0 20px 0;
    text-align: left;
    color: #33D08F;
    font-size: 20px;
    font-family: menlo;
    text-decoration: underline;
}

.seeMyWork .seeMyWorkRow .right .projectThumbBackground {
    width: 600px;
    height: 600px;
    position: absolute;
    z-index: -1;
}

.footerTop {
    width: 100%;
    background-color: none;
    margin-bottom: 0px;
}

footer.footer1 {
    background-color: #33D08F;
    text-align: center
}

footer.footer1 .title {
    color: #090909;
    font-family: silka-bold;
    font-size: 55px
}

footer.footer1 .subtitle {
    color: #090909;
    font-family: silka-regular;
    font-size: 20px;
    margin-top: 40px
}

footer.footer1 .subtitle span {
    color: #fff;
    font-family: silka-bold;
    font-size: 20px
}

/* Mobile */
@media (max-width: 576px) {
    nav .myNavbarBrand {
        padding-left: 20px!important
    }
    nav .myNavbarToggler {
        padding-right: 20px!important
    }
    nav .myNavbarList a {
        margin: 0!important;
        padding-left: 20px!important;
        padding-right: 20px!important;
        padding-top: 70px
    }
    nav .navbarArrows {
        display: inline-block;
        float: right
    }
    nav .navbarBar {
        width: 100%;
        height: 5px;
        z-index: 5;
        background-color: #F6F6F6;
        position: fixed;
        top: 100px;
        left: 0
    }
    header.homepage {
        padding: 45px 0
    }
    header.homepage .left {
        text-align: left;
        display: block
    }
    header.homepage .right {
        text-align: center;
        display: block
    }
    header.homepage .right .headerAvatar {
        width: 100%;
        max-width: 320px;
        margin-right: 0!important
    }
    header.homepage .left {
        padding-left: 20px
    }
    header.homepage .rectangle {
        position: absolute;
        top: 0;
        left: 20px
    }
    .seeMyWork .seeMyWorkRow {
        padding: 0 20px
    }
    .seeMyWork .seeMyWorkRow .right,
    .seeMyWork .seeMyWorkRow .right .payments,
    .seeMyWork .seeMyWorkRow .right .maternity,
    .seeMyWork .seeMyWorkRow .right .claimDetails {
        margin-top: 25px!important
    }
    .seeMyWork {
        padding: 50px 0
    }
    .seeMyWork .seeMyWorkRow {
        margin-top: 50px
    }
    .seeMyWork .seeMyWorkRow .right .payments,
    .seeMyWork .seeMyWorkRow .right .claimDetails {
        padding-left: 15px
    }
    .seeMyWork .seeMyWorkRow .right .maternity,
    .seeMyWork .seeMyWorkRow .right .payments,
    .seeMyWork .seeMyWorkRow .right .claimDetails,
    .seeMyWork .seeMyWorkRow .right .claims,
    .seeMyWork .seeMyWorkRow .left .leftButton {
        margin-left: auto;
        margin-right: auto
    }
    .seeMyWork .seeMyWorkRow .left {
        text-align: left
    }
    .seeMyWork .seeMyWorkRow .left .leftBar {
        margin-right: 0;
        margin-left: auto
    }
    footer.footer1 {
        height: 667px;
        width: 100%;
    }
    footer.footer1 .title {
        margin-top: 25px
    }
}

/* Mobile / tablet hybrid */
/*@media (min-width: 576px) {
    nav .myNavbarBrand {
        padding-left: 20px!important
    }
    nav .myNavbarToggler {
        padding-right: 20px!important
    }
    nav .myNavbarList a {
        margin: 0!important;
        padding-left: 20px!important;
        padding-right: 20px!important;
        margin: 0!important;
        padding-left: 20px!important;
        padding-right: 20px!important;
        padding-top: 70px
    }
    nav .navbarArrows {
        display: inline-block;
        float: right
    }
    nav .navbarBar {
        width: 100%;
        height: 5px;
        z-index: 5;
        background-color: #F6F6F6;
        position: fixed;
        top: 100px;
        left: 0
    }
    header.homepage {
        padding: 45px 0
    }
    header.homepage .left {
        text-align: left;
        display: block
    }
    header.homepage .left .article {
        font-size: 14px
    }
    header.homepage .right {
        text-align: left;
        display: block
    }
    header.homepage .right .headerAvatar {
        width: 100%;
        max-width: 362px;
        margin-right: 0!important
    }
    header.homepage .left {
        padding-left: 35px
    }
    header.homepage .rectangle {
        position: absolute;
        top: 0;
        left: 20px
    }
    .seeMyWork .seeMyWorkRow {
        padding: 0 20px
    }
    .seeMyWork .seeMyWorkRow .right,
    .seeMyWork .seeMyWorkRow .right .payments,
    .seeMyWork .seeMyWorkRow .right .maternity,
    .seeMyWork .seeMyWorkRow .right .claimDetails,
    .seeMyWork .seeMyWorkRow .right .claims {
        margin-top: 25px
    }
    .seeMyWork .seeMyWorkRow {
        margin-top: 50px
    }
    .seeMyWork .seeMyWorkRow .right .payments,
    .seeMyWork .seeMyWorkRow .right .claimDetails {
        padding-left: 15px
    }
    .seeMyWork .seeMyWorkRow .right .maternity,
    .seeMyWork .seeMyWorkRow .right .payments,
    .seeMyWork .seeMyWorkRow .right .claimDetails,
    .seeMyWork .seeMyWorkRow .right .claims,
    .seeMyWork .seeMyWorkRow .left .leftButton {
        margin-left: auto;
        margin-right: auto
    }
    .seeMyWork .seeMyWorkRow .left {
        text-align: center
    }
    .seeMyWork .seeMyWorkRow .left .leftBar {
        margin-right: auto;
        margin-left: auto
    }
    .testimonial1 .left,
    .testimonial1 .right {
        text-align: center
    }
    .testimonial1 .left {
        padding-bottom: 25px
    }
    .testimonial1 .right .leftBar,
    .testimonial1 .right .leftButton {
        margin: 0 auto
    }
    .testimonial1 .left img {
        width: 250px;
        height: 300px
    }
    .testimonial2 {
        padding: 50px 0
    }
    .testimonial2 .left,
    .testimonial2 .right {
        text-align: center
    }
    .testimonial2 .left {
        padding-bottom: 25px
    }
    .testimonial2 .left .leftBar,
    .testimonial2 .left .leftButton {
        margin: 0 auto
    }
    .testimonial2 .right img {
        width: 250px;
        height: 193px
    }
    footer.footer1 {
        height: 1024px;
        width: 100%;
    }
    footer.footer1 .title {
        margin-top: 40px
    }
}*/

/* Tablet */
@media (min-width: 768px) {
    nav .myNavbarList a {
        margin: 0!important;
        padding-left: 25px!important;
        padding-right: 25px!important;
        padding-top: 0
    }
    nav .myNavbarList a:first-child {
        padding-left: 0!important
    }
    nav .myNavbarList a:last-child {
        padding-right: 5px!important
    }
    nav .myNavbarBrand {
        padding-left: 0!important
    }
    nav .navbarArrows,
    nav .navbarBar {
        display: none
    }
    header.homepage {
        /*padding: 145px 0*/
    }
    header.homepage .left {
        text-align: left;
        display: inline-block;
        vertical-align: middle
    }
    header.homepage .right {
        text-align: right;
        display: inline-block;
        vertical-align: middle
    }
    header.homepage .left .article {
        font-size: 18px
    }
    header.homepage .left {
        padding-left: 45px
    }
    header.homepage .rectangle {
        position: absolute;
        top: 0;
        left: 10px
    }
    .seeMyWork .seeMyWorkRow {
        padding-left: 10px
    }
    .seeMyWork .seeMyWorkRow .right .maternity,
    .seeMyWork .seeMyWorkRow .right .payments,
    .seeMyWork .seeMyWorkRow .right .claimDetails,
    .seeMyWork .seeMyWorkRow .right .claims {
        float: right
    }
    .seeMyWork .seeMyWorkRow .left .leftButton {
        float: left
    }
    .seeMyWork {
        /*padding-top: 100px*/
    }
    .seeMyWork .seeMyWorkRow .right .claims {
        margin-top: 50px
    }
    .seeMyWork .seeMyWorkRow .right .payments,
    .seeMyWork .seeMyWorkRow .right .maternity,
    .seeMyWork .seeMyWorkRow .right .claimDetails {
        margin-top: 50px!important
    }
    .seeMyWork .seeMyWorkRow .left {
        text-align: left
    }
    .seeMyWork .seeMyWorkRow .left .leftBar {
        margin-left: 0;
       /* margin-left: auto*/
    }
    .testimonial1 .left {
        text-align: left
    }
    .testimonial1 .right {
        text-align: right
    }
    .testimonial1 .right .leftButton,
    .testimonial1 .right .leftBar {
        margin-left: 0
    }
    .testimonial2 .left {
        text-align: left
    }
    .testimonial2 .right {
        text-align: right
    }
    .testimonial2 .left .leftButton,
    .testimonial2 .left .leftBar {
        margin-left: 0
    }
}

/* Desktop */
@media (min-width: 992px) {
    header.homepage .left .article {
        font-size: 24px
    }
    .testimonial1 .left img {
        width: 370px;
        height: 451px
    }
    .testimonial2 {
        padding: 100px 0
    }
    .testimonial2 .right img {
        width: 367px;
        height: 284px
    }
    footer.footer1 {
        height: 800px;
        width: 100%;
    }
    footer.footer1 .title {
        margin-top: 360px
    }
}