html,
body {
    width: 100%;
    height: 100%
}

body {
    position: relative;
    overflow-y: auto;
    overflow-x: hidden
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif
}

p {
    margin: 0;
    padding: 0
}

a {
    text-decoration: none!important
}

ul {
    list-style-type: none
}

@font-face {
    font-family: silka-extralightitalic;
    src: url(../fonts/Silka-ExtraLightItalic.otf)
}

@font-face {
    font-family: silka-light;
    src: url(../fonts/Silka-Light.otf)
}

@font-face {
    font-family: silka-regular;
    src: url(../fonts/Silka-Regular.otf)
}

@font-face {
    font-family: silka-semibolditalic;
    src: url(../fonts/Silka-SemiBoldItalic.otf)
}

@font-face {
    font-family: silka-bold;
    src: url(../fonts/Silka-Bold.otf)
}

@font-face {
    font-family: silka-bolditalic;
    src: url(../fonts/Silka-BoldItalic.otf)
}

nav {
    z-index: 4;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    position: fixed;
}

nav {
    z-index: 4;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    position: fixed;
}

nav.myNavbar {
    padding-top: 15px;
}

nav .myNavbarList a {
    font-size: 16px;
    color: #090909!important;
    text-decoration: underline!important;
    font-family: silka-regular;
}

nav .myNavbarToggler,
nav .myNavbarToggler:focus {
    color: #422e2b!important;
    border: 0;
    outline: none
}

nav .myNavbarTogglerIcon {
    width: 40px;
    height: auto;
    position: relative;
    top: -2px
}

.myNavbarTogglerClose {
    display: none
}

.navbarOverlay {
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    position: fixed;
    background-color: #fff;
    z-index: 3;
    display: none
}

header.homepage2 {
    width: 100%;
    height: auto;
    background: url(../img/bgHeader3.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -ms-flex-align: center;
    -webkit-align-items: center;
    -webkit-box-align: center;
    align-items: center;
    margin-top: 100px;
    padding-top: 260px;
    padding-bottom: 350px
}

header.homepage2 .title {
    font-family: silka-bold;
    color: #333;
    font-size: 72px;
    position: relative;
    z-index: 3;
    max-width: 100%
}

header.homepage2 .headerBar {
    width: 105px;
    height: 7px;
    background-color: #333;
    margin-top: 10px;
    position: relative;
    z-index: 3
}

header.homepage2 .article {
    font-family: silka-bold;
    color: #333;
    font-size: 16px;
    margin-top: 20px;
    letter-spacing: 2px;
    width: 580px;
    max-width: 100%;
    position: relative;
    z-index: 3
}

.subHeader-t2 {
    width: 100%;
    height: auto;
    background-color: #F6F6F6;
    padding: 25px 0
}

.subHeader-t2 .content .subHeader-t2Col {
    height: auto;
    text-align: center
}

.subHeader-t2 .content .subHeader-t2Col .contentCol {
    width: calc(100% - 8px);
    background-color: #fff;
    padding: 25px 0
}

.subHeader-t2 .content .subHeader-t2Col .right {
    margin-right: 0;
    margin-left: auto
}

.subHeader-t2 .content .subHeader-t2Col .title {
    font-size: 24px;
    font-family: silka-bold;
    color: #333
}

.subHeader-t2 .content .subHeader-t2Col .title span {
    font-size: 20px;
    font-family: silka-regular;
    color: #333;
    letter-spacing: 3px
}

.subHeader-t2 .content .subHeader-t2Col .item {
    font-family: silka-regular;
    color: #333;
    padding-left: 25px;
    padding-right: 25px
}

.subHeader-t2 .content .subHeader-t2Col .itemMargin {
    margin-top: 25px
}

.subHeader-t2 .content2 .title {
    font-family: silka-bold;
    color: #333;
    text-align: center
}

.subHeader-t2 .content2 .subtitle {
    font-family: silka-bold;
    color: #333;
    text-align: center;
    letter-spacing: 3px
}

.subHeader-t2 .content2 .item,
.subHeader-t2 .content2 .item li {
    color: #333;
    font-family: silka-regular;
    text-align: center;
    width: 970px;
    max-width: 100%;
    margin: 0 auto;
    padding: 0!important
}

.subHeader-t2 .content2 .negativeLetterSpacing1 {
    letter-spacing: -.63px
}

.subHeader-t2 .content2 .bar,
.subHeader-t2 .content2 .bar2 {
    width: 175px;
    height: 7px;
    background-color: #333;
    margin: 0 auto
}

.subHeader-t2 .content2 .item3 {
    width: 555px;
    height: auto;
    max-width: 100%;
    height: auto;
    margin-top: 50px
}

.subHeader-t2 .content2 .item3 .circle {
    width: 32px;
    height: 32px;
    border: 4px solid #333;
    border-radius: 50%;
    margin: 0 auto;
    position: relative;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -ms-flex-align: center;
    -webkit-align-items: center;
    -webkit-box-align: center;
    align-items: center;
    text-align: center;
    margin-bottom: 5px
}

.subHeader-t2 .content2 .item3 .circle p {
    font-size: 20px;
    font-family: silka-bold;
    color: #333;
    margin: 0 auto
}

.subHeader-t2 .content2 .itemsWithIcons {
    margin: 0 auto;
    text-align: center;
    height: auto;
    position: relative
}

.subHeader-t2 .content2 .business {
    width: 175px;
    display: inline-block;
    vertical-align: top;
    text-align: center
}

.subHeader-t2 .content2 .arrowBusiness {
    position: absolute;
    top: 50%;
    transform: translateY(-50%)
}

.subHeader-t2 .content2 .business .b-title {
    font-size: 16px;
    font-family: silka-bold;
    color: #333;
    letter-spacing: 2px;
    margin-top: 10px
}

.subHeader-t2 .content2 .business .b-subtitle {
    font-size: 18px;
    font-family: silka-regular;
    color: #333;
    letter-spacing: -.64px
}

.subHeader-t2 .content2 .bricks {
    width: 175px;
    max-width: 100%;
    margin: 0 auto;
    text-align: center;
    margin-top: 50px
}

.subHeader-t2 .content2 .bricks .b-title {
    font-size: 16px;
    font-family: silka-bold;
    color: #333;
    letter-spacing: 2px;
    margin-top: 15px
}

.subHeader-t2 .content2 .bricks .b-subtitle {
    font-size: 18px;
    font-family: silka-regular;
    color: #333;
    letter-spacing: -.64px
}

.subHeader-t2 .content2 .bricks .img {
    border-radius: 50%;
    margin: 0 auto
}

.subHeader-t2 .content2 .bricks .img1 {
    background-color: #353333;
    border: 1px solid transparent
}

.subHeader-t2 .content2 .bricks .img2 {
    background-color: #DBE9EE;
    border: 1px solid transparent
}

.subHeader-t2 .content2 .bricks .img3 {
    background-color: #fff;
    border: 1px solid #333
}

.subHeader-t2 .content2 .bricks .img4 {
    background-color: #B53C49;
    border: 1px solid transparent
}

.subHeader-t2 .content2 .typography {
    width: 100%;
    margin: 0 auto;
    text-align: center;
    margin-top: 50px;
    word-wrap: break-word
}

.subHeader-t2 .content2 .typography .b-title {
    font-size: 18px;
    font-family: silka-regular;
    color: #333;
    letter-spacing: -.64px
}

.subHeader-t2 .content2 .typography1 .b-title2 {
    font-size: 90px;
    font-family: DINCondensed, sans-serif;
    font-weight: 700;
    color: #333;
    letter-spacing: 11.25px
}

.subHeader-t2 .content2 .typography .b-title2 {
    position: relative;
    top: 30px
}

.subHeader-t2 .content2 .typography1 .b-subtitle {
    font-size: 24px;
    font-family: DINCondensed, sans-serif;
    font-weight: 700;
    color: #333;
    letter-spacing: 8px
}

.subHeader-t2 .content2 .typography2 .b-title2 {
    font-size: 80px;
    font-family: Raleway, sans-serif;
    color: #333;
    letter-spacing: 11.25px
}

.subHeader-t2 .content2 .typography2 .b-subtitle {
    font-size: 18px;
    font-family: Raleway, sans-serif;
    color: #333;
    letter-spacing: 6px
}

.subHeader-t2 .content2 .typography2 .first {
    margin-top: 15px
}

.subHeader-t2 .content2 .monitorFinalProduct {
    margin-top: 50px;
    text-align: center
}

.subHeader-t2 .content2 .monitorFinalProduct img {
    margin: 0 auto
}

.reviews {
    width: 100%;
    height: auto;
    background-color: #F6F6F6
}

.reviews .colReviews {
    margin-top: 50px
}

.reviews .text {
    height: 100%;
    float: right;
    background-color: #fff;
    padding-top: 50px;
    padding-right: 25px;
    padding-bottom: 50px;
    position: relative;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -ms-flex-align: center;
    -webkit-align-items: center;
    -webkit-box-align: center;
    align-items: center
}

.reviews .text .article {
    font-size: 20px;
    font-family: silka-regular;
    color: #333
}

.reviews .text .name {
    font-size: 16px;
    font-family: silka-bold;
    color: #333;
    letter-spacing: 2px
}

.reviews .colReviews img {
    position: absolute;
    top: 50%;
    left: -85px;
    transform: translateY(-50%);
    z-index: 2
}

.paddingBottom {
    padding-bottom: 90px
}

.jason {
    width: 100%;
    height: auto;
    background-color: #fff
}

.jason2 {
    background-color: #f6f6f6
}

.jason .left {
    padding-left: 15px
}

.jason .right {
    width: calc(100% - 305px)
}

.jason .right .text {
    width: 100%;
    height: 100%;
    position: relative;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -ms-flex-align: center;
    -webkit-align-items: center;
    -webkit-box-align: center;
    align-items: center;
    text-align: center
}

.jason .right .text2 {
    width: 100%;
    height: 100%;
    position: relative;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -ms-flex-align: center;
    -webkit-align-items: center;
    -webkit-box-align: center;
    align-items: center;
    text-align: left
}

.jason .right .inner-text {
    width: 100%;
    height: auto;
    text-align: center
}

.jason .right .inner-text2 {
    width: 100%;
    height: auto;
    text-align: left;
    padding: 0 25px
}

.jason .right .inner-text {
    width: 100%;
    height: auto
}

.jason .left,
.jason .right {
    display: inline-block;
    vertical-align: middle
}

.jason .title {
    font-size: 24px;
    color: #333;
    font-family: silka-regular
}

.jason .right .article {
    font-size: 20px;
    color: #333;
    font-family: silka-regular;
    letter-spacing: -.64px
}

.jason .titleSm {
    margin-top: 25px
}

.jason .title span {
    font-family: silka-bold
}

.jason .right ul li {
    font-size: 16px;
    color: #333;
    letter-spacing: 2px;
    font-family: silka-bold
}

.phoneText {
    width: 100%;
    height: auto;
    background-color: #f6f6f6
}

.phoneText .left {
    padding-left: 15px
}

.phoneText .right {
    width: 100%
}

.phoneText .text {
    width: 375px;
    max-width: 100%;
    height: 100%;
    position: relative;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -ms-flex-align: center;
    -webkit-align-items: center;
    -webkit-box-align: center;
    align-items: center;
    text-align: center;
    margin: 0 auto
}

.phoneText .inner-text {
    width: 375px;
    max-width: 100%;
    height: auto;
    text-align: center;
    margin: 0 auto;
    width: 100%;
    height: auto
}

.phoneText .inner-text .title {
    font-size: 24px;
    font-family: silka-bold;
    color: #333;
    letter-spacing: 3px
}

.phoneText .inner-text .article {
    font-size: 20px;
    font-family: silka-regular;
    color: #333;
    letter-spacing: -.64px
}

.phoneText .img {
    width: 100%;
    text-align: center
}

.phoneText .marginTop {
    padding-top: 75px
}

.phoneText .marginBottom {
    padding-bottom: 75px
}

@media (max-width: 576px) {
    nav .myNavbarBrand {
        padding-left: 20px!important
    }
    nav .myNavbarToggler {
        padding-right: 20px!important
    }
    nav .myNavbarList a {
        margin: 0!important;
        font-size: 40px;
        text-align: center;
        padding-left: 20px!important;
        padding-right: 20px!important;
        padding-top: 20px
    }
    nav .navbarArrows {
        display: inline-block;
        float: right
    }
    nav .navbarBar {
        width: 100%;
        height: 5px;
        z-index: 5;
        background-color: #F6F6F6;
        position: fixed;
        top: 100px;
        left: 0
    }
    header.homepage2 {
        padding-top: 200px;
        padding-bottom: 250px
    }
    header.homepage2 .title {
        font-size: 36px
    }
    .subHeader-t2Col .center {
        margin: 25px auto
    }
    .subHeader-t2 .content2 .item1 {
        margin-top: 25px
    }
    .subHeader-t2 .content2 .item2,
    .subHeader-t2 .content2 .subtitle {
        margin-top: 25px
    }
    .subHeader-t2 .content2 .title {
        margin-top: 25px
    }
    .subHeader-t2 .content .subHeader-t2Col .item {
        font-size: 16px
    }
    .subHeader-t2 .content2 .title {
        font-size: 36px
    }
    .subHeader-t2 .content2 .item,
    .subHeader-t2 .content2 .item li {
        font-size: 16px
    }
    .subHeader-t2 .content2 .bar {
        margin-top: 25px
    }
    .subHeader-t2 .content2 .item3 .col {
        width: 100%;
        height: auto;
        display: block;
        margin: 0 auto;
        margin-top: 25px
    }
    .subHeader-t2 .content2 .item3 {
        margin-top: 0
    }
    .subHeader-t2 .content2 .subtitle {
        font-size: 16px
    }
    .subHeader-t2 .content2 .item2MarginBottom {
        margin-bottom: 50px
    }
    .subHeader-t2 .content2 .itemsWithIcons {
        margin-top: 25px
    }
    .subHeader-t2 .content2 .business {
        max-width: 100%;
        margin: 0 auto;
        display: block
    }
    .subHeader-t2 .content2 .business:first-child {
        margin-top: 0
    }
    .subHeader-t2 .content2 .business:last-child {
        margin-bottom: 0
    }
    .subHeader-t2 .content2 .arrowBusinessDiv {
        margin-bottom: 125px;
        margin-top: 50px;
        transform: rotate(90deg)
    }
    .subHeader-t2 .content2 .arrowBusiness {
        visibility: hidden
    }
    .subHeader-t2 .content2 .arrowBusinessSm {
        visibility: visible
    }
    .subHeader-t2 .content2 .bricks .img {
        width: 95px;
        height: 95px
    }
    .reviews .colReviews img {
        width: 125px;
        height: 125px;
        position: absolute;
        top: 50%;
        left: -62.5px;
        transform: translateY(-50%);
        z-index: 2
    }
    .reviews .text {
        padding-left: 75px;
        width: calc(100% - 62.5px)
    }
    .jason .right .inner-text {
        padding: 0 25px
    }
    .jason .right,
    .jason .left {
        width: 100%;
        display: block;
        text-align: center;
        padding-left: 0
    }
    .jason .right,
    .jason .left img {
        padding-left: 0;
        padding-top: 25px;
        max-width: 90%;
        margin: 0 auto
    }
    .jason .right ul {
        display: inline-block;
        vertical-align: top;
        margin: 25px 5px
    }
    .jason .titleSm {
        display: block
    }
    .jason .titleLg {
        display: none
    }
    .jason .right .article {
        margin-top: 0
    }
    .phoneText .img {
        padding-bottom: 25px
    }
}

@media (min-width: 576px) {
    /*nav .myNavbarBrand {
        padding-left: 20px!important
    }
    nav .myNavbarToggler {
        padding-right: 20px!important
    }
    nav .myNavbarList a {
        margin: 0!important;
        font-size: 40px;
        text-align: center;
        padding-left: 20px!important;
        padding-right: 20px!important;
        padding-top: 20px
    }
    nav .navbarArrows {
        display: inline-block;
        float: right
    }
    nav .navbarBar {
        width: 100%;
        height: 5px;
        z-index: 5;
        background-color: #F6F6F6;
        position: fixed;
        top: 100px;
        left: 0
    }*/
}

/*@media (min-width: 576px) {
    nav .myNavbarBrand {
        padding-left: 20px!important
    }
    nav .myNavbarToggler {
        padding-right: 20px!important
    }
    nav .myNavbarList a {
        margin: 0!important;
        padding-left: 20px!important;
        padding-right: 20px!important;
        margin: 0!important;
        padding-left: 20px!important;
        padding-right: 20px!important;
        padding-top: 70px
    }
    nav .navbarArrows {
        display: inline-block;
        float: right
    }
    nav .navbarBar {
        width: 100%;
        height: 5px;
        z-index: 5;
        background-color: #F6F6F6;
        position: fixed;
        top: 100px;
        left: 0
    }
    header.homepage2 .text {
        position: relative;
        top: 100px
    }
    header.homepage2 .title {
        font-size: 48px
    }
    .subHeader-t2Col .center {
        margin: 25px auto
    }
    .subHeader-t2 .content2 .item1 {
        margin-top: 25px
    }
    .subHeader-t2 .content2 .item2,
    .subHeader-t2 .content2 .subtitle {
        margin-top: 25px
    }
    .subHeader-t2 .content2 .title {
        margin-top: 25px
    }
    .subHeader-t2 .content .subHeader-t2Col .item {
        font-size: 16px
    }
    .subHeader-t2 .content2 .title {
        font-size: 36px
    }
    .subHeader-t2 .content2 .item,
    .subHeader-t2 .content2 .item li {
        font-size: 20px
    }
    .subHeader-t2 .content2 .bar {
        margin-top: 25px
    }
    .subHeader-t2 .content2 .item3 .col {
        width: 100%;
        max-width: 555px;
        height: auto;
        display: block;
        margin: 0 auto
    }
    .subHeader-t2 .content2 .item3 .circle {
        margin-top: 25px
    }
    .subHeader-t2 .content2 .item3 {
        margin-top: 0
    }
    .subHeader-t2 .content2 .subtitle {
        font-size: 16px
    }
    .subHeader-t2 .content2 .item2MarginBottom {
        margin-bottom: 50px
    }
    .subHeader-t2 .content2 .itemsWithIcons {
        margin-top: 25px
    }
    .subHeader-t2 .content2 .business {
        max-width: 100%;
        margin: 0 auto;
        display: block
    }
    .subHeader-t2 .content2 .business:first-child {
        margin-top: 0
    }
    .subHeader-t2 .content2 .business:last-child {
        margin-bottom: 0
    }
    .subHeader-t2 .content2 .arrowBusinessDiv {
        margin-bottom: 125px;
        margin-top: 50px;
        transform: rotate(90deg)
    }
    .subHeader-t2 .content2 .arrowBusiness {
        visibility: hidden
    }
    .subHeader-t2 .content2 .arrowBusinessSm {
        visibility: visible
    }
    .subHeader-t2 .content2 .bricks .img {
        width: 95px;
        height: 95px
    }
    .reviews .colReviews img {
        width: 125px;
        height: 125px;
        position: absolute;
        top: 50%;
        left: -62.5px;
        transform: translateY(-50%);
        z-index: 2
    }
    .reviews .text {
        padding-left: 75px;
        width: calc(100% - 62.5px)
    }
    .jason .right .inner-text {
        padding: 0 25px
    }
    .jason .right,
    .jason .left {
        width: 100%;
        display: block;
        text-align: center;
        padding-left: 0
    }
    .jason .right,
    .jason .left img {
        padding-left: 0;
        padding-top: 25px;
        max-width: 100%
    }
    .jason .right ul {
        display: inline-block;
        vertical-align: top;
        margin: 25px 5px
    }
    .jason .titleSm {
        display: block
    }
    .jason .titleLg {
        display: none
    }
    .jason .right .article {
        margin-top: 0
    }
    .phoneText .img {
        padding-bottom: 50px
    }
}*/

@media (min-width: 768px) {
    nav .myNavbarList a {
        margin: 0!important;
        padding-top: 0
    }
    nav .myNavbarList a:first-child {
        padding-left: 0!important
    }
    nav .myNavbarList a:last-child {
        padding-right: 5px!important
    }
    nav .myNavbarBrand {
        padding-left: 0!important
    }
    nav .navbarArrows,
    nav .navbarBar {
        display: none
    }
    header.homepage2 .title {
        font-size: 72px
    }
    header.homepage2 .text {
        padding-left: 100px
    }
    .subHeader-t2Col .center {
        margin: 0 auto
    }
    .subHeader-t2 .content2 .item1 {
        margin-top: 50px
    }
    .subHeader-t2 .content2 .item2,
    .subHeader-t2 .content2 .subtitle {
        margin-top: 50px
    }
    .subHeader-t2 .content2 .title {
        margin-top: 90px
    }
    .subHeader-t2 .content2 .bar {
        margin-top: 75px
    }
    .subHeader-t2 .content2 .item3 .col {
        width: 185px;
        max-width: 100%;
        height: auto;
        display: inline-block;
        vertical-align: top
    }
    .subHeader-t2 .content2 .item3 .circle {
        margin-top: 0
    }
    .subHeader-t2 .content2 .item3 {
        margin-top: 50px
    }
    .subHeader-t2 .content2 .itemsWithIcons {
        margin-top: 25px
    }
    .subHeader-t2 .content2 .business {
        width: 110px;
        max-width: 100%;
        margin-left: 25px;
        margin-right: 25px;
        display: inline-block
    }
    .subHeader-t2 .content2 .business:first-child {
        margin: 0!important
    }
    .subHeader-t2 .content2 .business:last-child {
        margin: 0!important
    }
    .subHeader-t2 .content2 .arrowBusinessDiv {
        margin-right: 0
    }
    .subHeader-t2 .content2 .arrowBusiness {
        transform: rotate(-90deg);
        visibility: hidden
    }
    .subHeader-t2 .content2 .arrowBusinessLg {
        visibility: visible
    }
    .subHeader-t2 .content2 .bricks .img {
        width: 130px;
        height: 130px
    }
    .reviews .colReviews img {
        width: 125px;
        height: 125px;
        position: absolute;
        top: 50%;
        left: -62.5px;
        transform: translateY(-50%);
        z-index: 2
    }
    .reviews .text {
        padding-left: 75px;
        width: calc(100% - 62.5px)
    }
    .jason .right {
        width: calc(100% - 305px);
        display: inline-block;
        vertical-align: middle;
        text-align: center
    }
    .jason .left {
        width: 290px;
        max-width: 100%;
        display: inline-block;
        vertical-align: middle;
        text-align: center;
        padding-top: 0
    }
    .jason .left img {
        margin-top: 0
    }
    .jason .right .inner-text {
        padding: 0 50px
    }
    .jason .right,
    .jason .left img {
        padding-top: 0
    }
    .jason .titleSm {
        display: none
    }
    .jason .titleLg {
        display: block
    }
    .jason .right .article {
        margin-top: 25px
    }
    .phoneText .img {
        padding-bottom: 0
    }
}

@media (min-width: 992px) {
    .reviews .colReviews img {
        width: 170px;
        height: 170px;
        position: absolute;
        top: 50%;
        left: -85px;
        transform: translateY(-50%);
        z-index: 2
    }
    .reviews .text {
        padding-left: 125px;
        width: calc(100% - 85px)
    }
    .jason .right ul li {
        display: inline-block;
        margin: 0 25px
    }
    .jason .right ul.first {
        margin-top: 115px
    }
}

@media (min-width: 1200px) {
    .subHeader-t2 .content .subHeader-t2Col .item {
        font-size: 24px
    }
    .subHeader-t2 .content2 .title {
        font-size: 36px
    }
    .subHeader-t2 .content2 .item,
    .subHeader-t2 .content2 .item li {
        font-size: 20px
    }
    .subHeader-t2 .content2 .bar {
        margin-top: 175px
    }
    .subHeader-t2 .content2 .bar2 {
        margin-top: 75px
    }
    .subHeader-t2 .content2 .subtitle {
        font-size: 20px
    }
    .subHeader-t2 .content2 .item2MarginBottom {
        margin-bottom: 300px
    }
    .subHeader-t2 .content2 .itemsWithIcons {
        margin-top: 25px
    }
    .subHeader-t2 .content2 .business {
        width: 185px;
        max-width: 100%;
        margin-left: 25px;
        margin-right: 25px;
        display: inline-block
    }
    .subHeader-t2 .content2 .arrowBusinessDiv {
        margin-right: 0
    }
    .subHeader-t2 .content2 .arrowBusiness {
        transform: rotate(-90deg)
    }
    .jason .right ul li {
        display: inline-block;
        margin: 0 50px
    }
}